body > div.site-request-password-reset {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    padding: 10% 3% 0 3%;
    background-image: url("../images/BG2.svg");
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body > div.site-request-password-reset > div.forgot_pass_details {
    width: 45vmax;
    height: 25vmax;
    padding-bottom: 5%;
    padding-right: 10%;
    /* padding-left: 5%;
    padding-top: 3%; 
    margin: 0% 10% 10% 0;
    border: solid #FDA403 1px; */
}

body > div.site-request-password-reset > div.person_with_que_img {
    width: 32vmax;
    height: 35vmax;
    padding: 0 0 5% 5%;
}

#Layer_1 {
    height: 100%;
    width: 100%;
}

body > div.site-request-password-reset > div.forgot_pass_details > h1 {
    font-size: 2rem;
    margin: 2% 0;
    padding: 0;
}

body > div.site-request-password-reset > div.forgot_pass_details > p {
    font-size: 1.2rem;
    margin: 1% 0;
}

body > div.site-request-password-reset > div.forgot_pass_details > div,
body > div.site-request-password-reset > div.forgot_pass_details > div > div {
    width: 100% !important;
    max-width: 100% !important;
    flex: unset !important;
}

#passwordresetrequestform-email {
    width: 100%;
    max-width: 100%;
    border-color: #FDA403;
    height: 5vmax;
    margin: 2% 0;
}

#request-password-reset-form > div:nth-child(3),
#reset-password-form > div:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
}

#request-password-reset-form > div:nth-child(3) > button {
    border-radius: 5px;
    margin: 0;
}

label {
    margin: 5% 0 2% 0; 
    font-size: 1.2rem;
}

#site-navbar {
    margin: 0;
}

@media (min-width: 1445px) {

    #passwordresetrequestform-email {
        height: 3vmax !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    body > div.site-request-password-reset {
        height: 100vh;
    }

    #passwordresetrequestform-email {
        height: 4vmax !important;
    }

    body > div.site-request-password-reset > div.forgot_pass_details {
        padding: 0;
    }

}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    body > div.site-request-password-reset {
        height: 80vw;
    }

    #passwordresetrequestform-email {
        height: 4vmax !important;
    }

    body > div.site-request-password-reset > div.forgot_pass_details {
        padding: 0;
    }

    body > div.site-request-password-reset > div.forgot_pass_details > h1 {
        font-size: 1.8rem;
    }
    
    body > div.site-request-password-reset > div.forgot_pass_details > p {
        font-size: 1rem;
    }
}

@media (min-width: 481px) and (max-width: 767px) {

    body > div.site-request-password-reset {
        height: 80vw;
    }

    #passwordresetrequestform-email {
        height: 4vmax !important;
    }

    body > div.site-request-password-reset > div.forgot_pass_details {
        padding: 0;
    }

    body > div.site-request-password-reset > div.forgot_pass_details > h1 {
        font-size: 1.8rem;
    }
    
    body > div.site-request-password-reset > div.forgot_pass_details > p {
        font-size: 1rem;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    
    body > div.site-request-password-reset {
        flex-flow: column nowrap;
        justify-content: flex-start;
        height: 100vh;
    }
    
    body > div.site-request-password-reset > div.person_with_que_img {
        width: 45vmax;
        height: 45vmax;
    }

    body > div.site-request-password-reset > div.forgot_pass_details {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        padding: 0 5%;
    }

    body > div.site-request-password-reset > div.forgot_pass_details > h1 {
        font-size: 1.8rem;
    }
    
    body > div.site-request-password-reset > div.forgot_pass_details > p {
        font-size: 1rem;
    }

    #request-password-reset-form,
    #reset-password-form {
        width: 100%;
        max-width: 100vw;
    }

    body > div.site-request-password-reset > div.forgot_pass_details > p {
        width: 100%;
        text-align: center;
    }

    #request-password-reset-form > div:nth-child(3),
    #reset-password-form > div:nth-child(3) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    body > div.site-request-password-reset > div.forgot_pass_details > div {
        width: 100%;
    }

    #passwordresetrequestform-email {
        height: 5vmax !important;
    }
}

@media (min-width: 320px) and (max-width: 320px) {
    body > div.site-request-password-reset {
        height: 105vh;
    }

    body > div.site-request-password-reset > div.forgot_pass_details {
        height: 30vh;
    }

    body > div.site-request-password-reset > div.forgot_pass_details > h1 {
        font-size: 1.5rem;
    }
    
    body > div.site-request-password-reset > div.forgot_pass_details > p {
        font-size: 1rem;
    }
}

@media (min-width: 568px) and (max-width: 568px) and (orientation: landscape) {
    body > div.site-request-password-reset {
        height: 110vw;
    }

    body > div.site-request-password-reset > div.forgot_pass_details {
        padding: 0;
        margin: 0;
    }
}

.face {
    margin: 0 auto;
    width: 300px;
}

.face {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

/******************************
/******************************
/******************************
/******************************
/******************************
/******************************/

body > div.site-reset-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    padding: 10% 3% 0 3%;
    background-image: url("../images/BG2.svg");
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body > div.site-reset-password > div.forgot_pass_details {
    width: 45vmax;
    height: 25vmax;
    padding-bottom: 5%;
    padding-right: 10%;
    /* padding-left: 5%;
    padding-top: 3%; 
    margin: 0% 10% 10% 0;
    border: solid #FDA403 1px; */
}

body > div.site-reset-password > div.person_with_que_img {
    width: 32vmax;
    height: 35vmax;
    padding: 0 0 5% 5%;
}

#Layer_1 {
    height: 100%;
    width: 100%;
}

body > div.site-reset-password > div.forgot_pass_details > h1 {
    font-size: 2rem;
    margin: 2% 0;
    padding: 0;
}

body > div.site-reset-password > div.forgot_pass_details > p {
    font-size: 1.2rem;
    margin: 1% 0;
}

body > div.site-reset-password > div.forgot_pass_details > div,
body > div.site-reset-password > div.forgot_pass_details > div > div {
    width: 100% !important;
    max-width: 100% !important;
    flex: unset !important;
}

#passwordresetrequestform-email {
    width: 100%;
    max-width: 100%;
    border-color: #FDA403;
    height: 5vmax;
    margin: 2% 0;
}

#reset-password-form > div:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
}

#reset-password-form > div:nth-child(3) > button {
    border-radius: 5px;
    margin: 0;
}

label {
    margin: 5% 0 2% 0; 
    font-size: 1.2rem;
}

#site-navbar {
    margin: 0;
}

@media (min-width: 1445px) {

    #passwordresetrequestform-email {
        height: 3vmax !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    body > div.site-reset-password {
        height: 100vh;
    }

    #passwordresetrequestform-email {
        height: 4vmax !important;
    }

    body > div.site-reset-password > div.forgot_pass_details {
        padding: 0;
    }

}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    body > div.site-reset-password {
        height: 80vw;
    }

    #passwordresetrequestform-email {
        height: 4vmax !important;
    }

    body > div.site-reset-password > div.forgot_pass_details {
        padding: 0;
    }

    body > div.site-reset-password > div.forgot_pass_details > h1 {
        font-size: 1.8rem;
    }
    
    body > div.site-reset-password > div.forgot_pass_details > p {
        font-size: 1rem;
    }
}

@media (min-width: 481px) and (max-width: 767px) {

    body > div.site-reset-password {
        height: 80vw;
    }

    #passwordresetrequestform-email {
        height: 4vmax !important;
    }

    body > div.site-reset-password > div.forgot_pass_details {
        padding: 0;
    }

    body > div.site-reset-password > div.forgot_pass_details > h1 {
        font-size: 1.8rem;
    }
    
    body > div.site-reset-password > div.forgot_pass_details > p {
        font-size: 1rem;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    
    body > div.site-reset-password {
        flex-flow: column nowrap;
        justify-content: flex-start;
        height: 100vh;
    }
    
    body > div.site-reset-password > div.person_with_que_img {
        width: 45vmax;
        height: 45vmax;
    }

    body > div.site-reset-password > div.forgot_pass_details {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        padding: 0 5%;
    }

    body > div.site-reset-password > div.forgot_pass_details > h1 {
        font-size: 1.8rem;
    }
    
    body > div.site-reset-password > div.forgot_pass_details > p {
        font-size: 1rem;
    }

    #reset-password-form,
    #reset-password-form {
        width: 100%;
        max-width: 100vw;
    }

    body > div.site-reset-password > div.forgot_pass_details > p {
        width: 100%;
        text-align: center;
    }

    #reset-password-form > div:nth-child(3),
    #reset-password-form > div:nth-child(3) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    body > div.site-reset-password > div.forgot_pass_details > div {
        width: 100%;
    }

    #passwordresetrequestform-email {
        height: 5vmax !important;
    }
}

@media (min-width: 320px) and (max-width: 320px) {
    body > div.site-reset-password {
        height: 105vh;
    }

    body > div.site-reset-password > div.forgot_pass_details {
        height: 30vh;
    }

    body > div.site-reset-password > div.forgot_pass_details > h1 {
        font-size: 1.5rem;
    }
    
    body > div.site-reset-password > div.forgot_pass_details > p {
        font-size: 1rem;
    }
}

@media (min-width: 568px) and (max-width: 568px) and (orientation: landscape) {
    body > div.site-reset-password {
        height: 110vw;
    }

    body > div.site-reset-password > div.forgot_pass_details {
        padding: 0;
        margin: 0;
    }
}

.face {
    margin: 0 auto;
    width: 300px;
}

.face {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}
Collapse



Message Input


