@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url('https://fonts.googleapis.com/css?family=Philosopher&display=swap');

$font-serif: 'Playfair Display', serif;
$font-sans-serif: 'Raleway', sans-serif;

$xl: 1140px;
$lg: 960px;
$md: 768px;
$sm: 576px;
$white: #fff;
$black: #000;
$primary: #FDA403;

$colors: (
    primary-background : #ffffff,
    primary-text-color: #fff,
    secondary-text-color: #292929,
    widgets : gold
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    
    #first-main-div{

        margin: 0;
        padding: 0;
        height: 100vh;
        position: relative;
        font-family: 'Montserrat', sans-serif;
        color: color(primary-text-color);
        background-image: url("../assets/bakcground_image_project_1.png");
        background-origin: border-box;
        background-size: cover;
        background-repeat: no-repeat;


        header {
            width: auto;
            height: auto;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-content: center;
            align-items: center;
            background: transparent;
            margin: 0%;
            padding: 1%;
            z-index: 10;

            ul {
                list-style-type: none;
                text-align : center ;
            }

            ul > li.title_bar_buttons {

                display: inline-block;
                padding: 1rem;
                margin-right: 1rem;
                //font-family: 'Oswald', sans-serif;
                font-size: 1rem;
                font-weight: 500;
                text-transform: uppercase;
                color: color(primary-text-color);
                vertical-align: middle;
                -webkit-transform: perspective(1px) translateZ(0);
                transform: perspective(1px) translateZ(0);
                box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                position: relative;
                overflow: hidden;

                &>a {
                    transition: .3s all ease;
                    text-decoration: none;
                    color: color(primary-text-color);
                }
            }

            ul > li.title_bar_buttons:before {
                content: "";
                position: absolute;
                z-index: -1;
                left: 0;
                right: 100%;
                bottom: 0;
                background: color(widgets); // TODO - i can add gradient here.. 
                height: 2px;
                -webkit-transition-property: right;
                transition-property: right;
                -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
            }
                
            ul > li.title_bar_buttons:hover:before, div.title_bar_buttons:focus:before, div.title_bar_buttons:active:before {
                right: 0;
            }
        }

        #main-grid {

            margin: 0;
            padding-left: 1%;
            width: auto;
            height: auto;
            background: transparent;
            display: grid;
            grid-template-columns: [first_col] 60vw [sec_col] 30vw [third_col] auto [end_col];
            grid-template-rows: [first_row] 8vw [sec_row] 5vw [third_row] 5vw [forth_row] 5vw [end_row];
            grid-gap: 5px 5px;
            grid-template-areas: "logo auth ."
            "text_1 auth ."
            "text_2 auth ."
            "search auth .";

            >img {
                width: 24vmax;
                height: 8vmax;
                margin-left: 5%;
                grid-area: logo;
            }

            >p, input[type="search"] {
                margin: 0 0 0 5%;
                padding: 2% 0;
                font-size: 2rem;
            }

            >p:nth-child(3) {
                grid-area: text_1;
            }

            >p:nth-child(4) {
                grid-area: text_2;
            }

            >div:nth-child(5) {
                grid-area: search;
                width: auto;
                height: auto;
                padding: 1% 0 0 0;
            
                input[type="search"] {
                    height: 7vh;
                    width: 43vw;
                    padding: 0 0 0 4%;
                    margin: 0 0 0 5%;
                    color: color(primary-text-color);
                    background-color: transparent;
                    border: solid;
                    border-color: #ffffff;
                    text-align: start;
                    font-size: 1.2rem;
                    opacity: 0.8;
                }

                span button {
                    height: 7vh;
                    width: 7vw;
                    margin: 0 0 0 -1%;
                    padding: 0;
                    color: color(primary-text-color);
                    background-color: transparent;
                    border: solid;
                    border-color: #ffffff;
                    border-left: 0px;
                    text-align: center;
                    font-size: 1.1rem;
                    opacity: 0.8;

                }
            }
            
        }
        
        #social_icons {
            
            bottom: 0;
            z-index: 0;
            height: 15vh;
            width: 100vw;
            padding-left: 1%;
            position: absolute;
            background-color: #000;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-content: center;
            align-items: center;
            
            > a:first-child {
                img {
                    margin: 0 3rem 0 2rem;
                    width: calc(10vmax * 1.2);
                    height: calc(3vmax * 1.2);
                }
            }
            
            > a > img {
                
                margin: 0 0.5vmax;
                width: 3vmax;
                height: 3vmax;
            } 
        }
    }
}


#sticky_nav {
    
    top: 0;
    margin: 0;
    padding: 1%;
    z-index: 10;
    width: auto;
    height: auto;
    background: $white;
    position: sticky;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    
    ul {
        list-style-type: none;
        text-align: center;
    }
    
    ul>li.title_bar_buttons {
        
        display: inline-block;
        padding: 1rem;
        margin-right: 1rem;
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        font-weight: 500;
        text-transform: uppercase;
        color: #292929;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        overflow: hidden;
        
        &>a {
            transition: .3s all ease;
            text-decoration: none;
            color: color(secondary-text-color);
        }
    }
    
    ul>li.title_bar_buttons:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        right: 100%;
        bottom: 0;
        background: color(widgets); // TODO - i can add gradient here.. 
        height: 2px;
        -webkit-transition-property: right;
        transition-property: right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    
    ul>li.title_bar_buttons:hover:before,
    li.title_bar_buttons:focus:before,
    li.title_bar_buttons:active:before {
        right: 0;
    }
}

.display_none{
    display: none;
}

.display_none_1{
    display: none;
}

#authentication {
    
    height: 78vh;
    width: 22vw;
    grid-area: auth;
    margin-left: 20%;
    color: color(secondary-text-color);
    background-color: color(primary-background);
    overflow: hidden;
    z-index: 1;

    #buttons {
        display: flex;

        > button:first-child {
            background-color: #fff;
            color: color(secondary-text-color);
        }
    }

    button {
        background-color: #000;
        color: color(primary-text-color);
        width: 50%;
        height: 6vh;
        border: 0px;
        margin: 0px;
        padding: 0px;
        outline: 0px;
        text-align: center;
        text-transform: uppercase;
        font-size: 1rem;
    }

    #login {
        width: 100%;
        height: calc(100% - 6vh);
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        overflow: hidden;

        img {
            margin: 1% 0 0 0;
            width: 7vmax;
            height: 10vmax;
        }
        
        input {
            height: 5vh;
            width: 80%;
            margin: 2% 0 2% 0;
            color: color(secondary-text-color);
            background-color: transparent;
            border: solid;
            border-radius: 5px; 
            border-color: color(secondary-text-color);
            font-size: 1rem;
            text-align: center;
            text-transform: capitalize;
            opacity: 1;
        }

        p {
            margin: 1.5%;
            font-size: 0.8rem;
        }

        > p > a {
            text-decoration: none;
            color: color(secondary-text-color);
            text-align: center;
            font-size: 0.7rem;
            margin: 0;
        }

        > button[type="submit"] {
            border-radius: 10px;
            margin: 5% 0; 
        }

        > p:last-child {
            a{
                margin: 0;
                font-size: 2rem;
                text-align: center;
                text-decoration: none;
                text-transform: capitalize;
                color: color(secondary-text-color);
                border-bottom: solid 1px color(secondary-text-color);
            }
        }
    }
    
    #register {
        height: calc(100% - 6vh);
        width: 100%;
        display: none;
        margin: 0;
        padding: 0;
        flex-flow: column nowrap;
        justify-content:center;
        align-content: center;
        align-items: center;
        overflow: hidden;

        input {
            height: 5vh;
            width: 80%;
            margin: 2% 0 2% 0; 
            color: color(secondary-text-color);
            background-color: transparent;
            border: solid;
            border-radius: 5px; 
            border-color: color(secondary-text-color);
            font-size: 1rem;
            text-align: center;
            text-transform: capitalize;
            opacity: 1;
        }

        > p:first-child {
            margin: 3% 0 5% 0;
            color: color(secondary-text-color);
            text-align: center;
            text-decoration: none;
            text-transform: capitalize;
            font-size: 1.1rem;
            line-height: 1.5rem;
            word-break: break-all;
            font-weight: 700;
        }

        /* p {
            margin: 1%;
            text-decoration: none;
            color: color(secondary-text-color);
            text-align: center;
            font-size: 0.8rem;
        } */

        > button[type="submit"] {
            border-radius: 10px;
            margin: 1% 0; 
        }

        > p:last-child {
            a{
                margin: 0;
                font-size: 2rem;
                text-align: center;
                text-decoration: none;
                text-transform: capitalize;
                color: color(secondary-text-color);
                border-bottom: solid 1px color(secondary-text-color);
            }
        }
    }
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	line-height: 1.45;
	color: $black;
	font-family: $font-serif;
	font-weight: bold;
}

.display-4 {
	@media screen and (max-width: $md) {
		font-size: 37px;
	}
}

.btn {
    @media screen and (max-width: $md) {
        width: 100%!important;
        border: 1px solid red;
    }
}

.site-animate {
	opacity: 0;
	visibility: hidden;
}

.form-control {
	border: none;
	height: 55px!important;
	background: lighten($black, 90%)!important;
	color: $black!important;
	font-size: 18px;
	border-radius: 0px;
	/* &:focus, &:active {
		// border: 2px solid $black;
	} */
}

textarea.form-control {
	height: inherit!important;
}

.btn {
	border-radius: 4px;
	cursor: pointer;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 16px;
	font-family: $font-serif;
	&.btn-lg {
		font-size: 16px!important;
		padding: 13px 40px!important;
	}
	&.btn-sm {
		padding: 10px 20px;
		font-size: 12px;
	}
	&.btn-primary {
		border-radius: 0px;
	}
	&.btn-secondary {
		border: 2px solid #ccc;
		background: none;
		border-radius: 0px;
		
		color: darken(#ccc, 20%);
		&:hover {
			background: $primary;
			border-color: $primary;
			color: $white;
		}
	}
	&:before {
		display: none;
	}
	&:hover, &:active, &:focus {
		outline: none;
		box-shadow: none;
	}
	&.btn-primary {
		background: $primary;
		border-color: $primary;
		color: $white;
		&:hover, &:focus, &:active {
			border-color: darken($primary, 10%);
			background: darken($primary, 10%);
		}
	}
	&.btn-outline-white {
		border-color: rgba($white, .8);
		background: none;
		border-radius: 0px;
		border-width: 2px;
		&:hover, &:focus, &:active {
			background: $white;
			border-color: $white;
			color: $black;
		}
	}
}

.site-section {
	.site-sub-title {
		font-size: 16px;
		text-transform: uppercase;
		letter-spacing: .5em;
		color: lighten(#ccc, 3%);
		font-family: $font-sans-serif;
		font-weight: 300;
	}
	.site-primary-title {
		margin-top: 0;
		margin-bottom: 30px;
	}
}

.site-section {
	padding: 7em 0;
}

#section-about {
	padding: 8em 0;
	.img {
		position: relative; 
		right: 0;
		@media screen and (max-width: $md) {
			position: relative;
			right: inherit;
			img {
				max-width: 100%;
			}
		}
	}
}

.bg-light {
	background: darken(#fafafa, 4%)!important;
}

.site-footer {
	font-size: 16px;
	.site-footer-logo {
		text-transform: uppercase;
		letter-spacing: .1em;
	}
	.site-footer-widget {
		h2 {
			font-weight: normal;
		}
	}
	p {
		color: rgba($white, .3);
	}
	a {
		color: rgba($white, .3);
		&:hover {
			color: $primary;
		}
	}
	.site-heading {
		font-size: 24px;
	}
	.site-heading-2 {
		font-size: 14px;
		font-weight: bold;
		letter-spacing: .05em;
		text-transform: uppercase;
		color: rgba(255,255,255,.6);
	}
}

.site-bg-dark {
	background: #222;
}

.site-footer-social {
	li {
		list-style: none;
		margin: 0 10px 10px 0;
		display: inline-block;
		a {
			height: 60px;
			width: 60px;
			display: block;
			float: left;
			background: rgba($white, .05);
			border-radius: 50%;
			position: relative;
			span {
				position: absolute;
				font-size: 26px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&:hover {
				color: $white;
			}
		}
	}
}

.validation_error {
    color: red !important;
    font-size: 0.8rem !important;
    text-align: center !important;
    margin: 0 !important;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    //CSS
    

}
  
/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/
  
@media (min-width: 1025px) and (max-width: 1280px) {

    //CSS
    body,html {
        font-size: 12px;
    }
}
  
/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

    body,html {
        font-size: 10px;
    }

    body{

        #first-main-div{
            height: auto;
            display: block;
            position: relative;
            background-repeat: no-repeat;
            margin: 0 0 25% 0;

            header {
                >ul >li >a {
                    font-size: 1.8rem;
                }
            }

            #main-grid {
                display: block;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                z-index: 0;

                #authentication {
                    width: 100%;
                    height: 80vmax;
                    margin: 0;
                    position: relative;
                    z-index: 0;

                    button {
                        font-size: 2.5rem;
                    }

                    #login {
                        height: calc(100% - 4vh);
                        width: 100%;
                        justify-content: flex-start;
                        
                        img {
                            width: calc(7vmax / 0.7);
                            height: calc(10vmax / 0.7);
                            margin: 5% 0 2% 0;
                        }
                        
                        input {
                            //height: 5rem;
                            font-size: 2.3rem;
                            width: 50%;
                            //margin: 0;
                        }

                        p > a {
                            margin: 0;
                            font-size: 1.5rem;
                        }

                        p {
                            font-size: 2.5rem;
                        }
                
                        > button[type="submit"] {
                            border-radius: 5px;
                            width: 20%;
                            font-size: 2.5rem;
                            margin: 2%;
                        }
                
                        > p:last-child {
                            a{
                                font-size: 3rem;
                            }
                        }
                    }

                    #register {
                        justify-content: flex-start;
                        height: calc(100% - 4vh);
                        width: 100%;

                        p:first-child {
                            font-size: 2.5rem;
                            margin: 5% 0 2% 0;
                        }

                        p > a {
                            font-size: 0.8rem;
                            margin: 0;
                        }

                        p {
                            font-size: 1.5rem;
                            //margin: 1% 0 1% 0;
                        }
                        
                        input {
                            //height: 5vh;
                            width: 50%;
                            margin: 1% 0 1% 0;
                            font-size: 2.3rem;
                        }
                
                        > button[type="submit"] {
                            border-radius: 5px;
                            width: 20%;
                            height: 5vh;
                            margin: 2% 0 2% 0;
                        }
                
                        > p:last-child {
                            a{
                                font-size: 3rem;
                                padding: 0 0 0 0;
                            }
                        }
                    }
                }

                > img {
                    margin: 1% 0 0 6%;
                }

                >p, input[type="search"] {
                    margin: 1% 0 0 6%;
                    font-size: 2rem;
                }

                div:nth-child(5) {

                    input[type="search"] {
                        width: 60vw;
                        height: 4vh; 
                        font-size: 1.5rem;              
                    }

                    span button {
                        height: 4vh;
                        font-size: 1.5rem;
                    }
                }
            }

            #social_icons {
                height: 12vmax;
                z-index: -1;
                bottom: unset;
                margin: 0;

                > a:first-child {
                    img {
                        width: calc(10vmax * 1.6);
                        height: calc(3vmax * 1.6);
                    }
                }
        
                > a > img {
        
                    margin: 0 1vmax;
                    width: 5vmax;
                    height: 5vmax;
                }
            }
        }
    }
    .validation_error {
        font-size: 2rem !important;
    }
}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    body, html {
        font-size: 12px;
    }

    body {
        
        overflow: scroll;

        #first-main-div{            
            height: 100%;
            position: relative;
            background-repeat: no-repeat;
            margin: 0 0 10% 0;
            //overflow: hidden;

            header {
                >ul >li >a {
                    font-size: 1.4rem;
                }
            }

            #main-grid {

                display: block;
                width: 100vw;
                height: 100%;
                margin: 0;
                padding: 0;
                z-index: 0;
                
                #authentication {
                    width: 100%;
                    height: 90vmax;
                    position: relative;
                    margin: 3% 0 0 0;
                    z-index: 0;

                    button {
                        height: 6vmax;
                        font-size: 2rem;
                    }

                    #login {
                        height: calc(100% - 6vmax);
                        width: 100%;
                        justify-content: flex-start;

                        img {
                            width: calc(20vw / 1.8);
                            height: calc(50vh / 2);
                            margin: 5% 0 2% 0;
                        }
                        
                        input {
                            height: 5vmax;
                            font-size: 2rem;
                            width: 50%;
                            margin: 1.2% 0 1.2% 0;
                        }

                        p > a {
                            margin: 0;
                            font-size: 1.2rem;
                        }

                        p {
                            font-size: 1.5rem;
                            //margin: 1% 0 .5% 0;
                        }
                
                        > button[type="submit"] {
                            border-radius: 5px;
                            width: 20%;
                            font-size: 2rem;
                            margin: 2%;
                        }
                
                        > p:last-child {
                            a{
                                font-size: 2.5rem;
                            }
                        }
                    }

                    #register {
                        height: calc(100% - 6vmax);
                        width: 100%;
                        display: none;
                        justify-content: flex-start;
                        align-content: space-around;
                        align-items: center;
                        
                        p:first-child {
                            font-size: 2rem;
                            margin: 5% 0 2% 0;
                        }

                        p {
                            font-size: 1.5rem;
                            //margin: 1% 0 0 0;
                        }
                        
                        input {
                            height: 5vmax;
                            width: 50%;
                            margin: 1% 0 1% 0;
                            font-size: 2rem;
                        }
                
                        > button[type="submit"] {
                            border-radius: 5px;
                            width: 20%;
                            height: 6vmax;
                            font-size: 2rem;
                            margin: 1% 0 1% 0;
                            padding: 0;
                        }
                
                        > p:last-child {
                            a{
                                font-size: 3rem;
                                padding: 0 0 0 0;
                            }
                        }
                    }
                }

                > img {
                    margin: 1% 0 0 6%;
                }

                >p, input[type="search"] {
                    margin: 0 0 0 6%;
                    font-size: 2rem;
                    padding: 1.2% 0;
                }

                div:nth-child(5) {

                    margin: 1% 0;
                    padding: 0;

                    input[type="search"] {
                        width: 60vw;
                        height: 4vmax; 
                        font-size: 1.2rem;
                                      
                    }

                    span button {
                        height: 4vmax;
                        font-size: 1.2rem;
                        margin: 0 0 0 -0.5%;
                    }
                }
            }

            #social_icons {
                height: 12vmax;
                z-index: 1;
                bottom: unset;
                margin: 5% 0 0 0;

                > a:first-child {
                    img {
                        width: calc(10vmax * 1.6);
                        height: calc(3vmax * 1.6);
                    }
                }
        
                > a > img {
                    margin: 0 1vmax;
                    width: 5vmax;
                    height: 5vmax;
                }
            }
        }
    }
}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    /*body,html {
        font-size: 10px;
    }

    body{
        height: 100vmax;
        position: relative;
        overflow: scroll;
        background-repeat: no-repeat;

        header {
            font-size: 14px;
        }

        #main-grid {
            display: block;
            width: 100%;
            height: 100vmax;
            margin: 0;
            padding: 0;
            z-index: 0;

            #authentication {
                width: 100%;
                height: 70%;
                margin: 0;
                position: relative;
                z-index: 0;

                button {
                    font-size: 2.5rem;
                }

                #login {
                    height: calc(100% - 4vh);
                    width: 100%;
                    justify-content: flex-start;
                    
                    img {
                        width: calc(7vmax / 0.7);
                        height: calc(10vmax / 0.7);
                        margin: 5% 0 2% 0;
                    }
                    
                    input {
                        //height: 5rem;
                        font-size: 3rem;
                        width: 50%;
                        margin: 0;
                    }

                    p > a {
                        margin: 0;
                        font-size: 1.5rem;
                    }

                    p {
                        font-size: 2.5rem;
                    }
            
                    > button[type="submit"] {
                        border-radius: 5px;
                        width: 20%;
                        font-size: 2.5rem;
                        margin: 2%;
                    }
            
                    > p:last-child {
                        a{
                            font-size: 3rem;
                        }
                    }
                }

                #register {
                    justify-content: flex-start;
                    height: calc(100% - 4vh);
                    width: 100%;

                    p:first-child {
                        font-size: 2.5rem;
                        margin: 6% 0 5% 0;
                    }

                    p > a {
                        font-size: 0.8rem;
                        margin: 0;
                    }

                    p {
                        font-size: 1.5rem;
                        margin: 1% 0 1% 0;
                    }
                    
                    input {
                        //height: 5vh;
                        width: 50%;
                        margin: 1% 0 1% 0;
                        font-size: 3rem;
                    }
            
                    > button[type="submit"] {
                        border-radius: 5px;
                        width: 20%;
                        height: 5vh;
                        margin: 2% 0 2% 0;
                    }
            
                    > p:last-child {
                        a{
                            font-size: 3rem;
                            padding: 0 0 0 0;
                        }
                    }
                }
            }

            > img {
                margin: 1% 0 0 6%;
            }

            >p, input[type="search"] {
                margin: 1% 0 0 6%;
                font-size: 2rem;
            }

            div:nth-child(4) {

                input[type="search"] {
                    width: 60vw;
                    height: 4vh; 
                    font-size: 1.5rem;              
                }

                button {
                    height: 4vh;
                    font-size: 1.5rem;
                }
            }
        }

        #social_icons {
            height: 12vmax;
            z-index: -1;
            bottom: unset;
            margin: 0;

            > a:first-child {
                img {
                    width: calc(10vmax * 1.6);
                    height: calc(3vmax * 1.6);
                }
            }
    
            > a > img {
    
                margin: 0 1vmax;
                width: 5vmax;
                height: 5vmax;
            }
        }
    }*/

    body,html {
        font-size: 10px;
    }

    body{
        
        overflow: scroll;
        
        #first-main-div{
            
            height: 100vmax;
            position: relative;
            background-repeat: no-repeat;
            margin: 0 0 20% 0;

            header {
                font-size: 5px;
            }

            #main-grid {
                display: block;
                width: 100%;
                height: 100vmax;
                margin: 0;
                padding: 0;
                z-index: 0;

                #authentication {
                    width: 100%;
                    height: 75vmax;
                    margin: 5% 0 0 0;
                    position: relative;
                    z-index: 0;

                    button {
                        font-size: 1.5rem;
                        height: 5vmax;
                    }

                    #login {
                        height: calc(100% - 5vmax);
                        width: 100%;
                        justify-content: flex-start;
                        
                        img {
                            width: calc(7vmax / 0.7);
                            height: calc(10vmax / 0.7);
                            margin: 3% 0 1% 0;
                        }
                        
                        input {
                            height: 5vmax;
                            font-size: 1.5rem;
                            width: 40%;
                            margin: 1% 0;
                        }

                        p > a {
                            margin: 0;
                            font-size: 1rem;
                        }

                        p {
                            font-size: 1.5rem;
                        }
                
                        > button[type="submit"] {
                            border-radius: 5px;
                            width: 20%;
                            font-size: 1.5rem;
                            margin: 1%;
                        }
                
                        > p:last-child {
                            a{
                                font-size: 2rem;
                            }
                        }
                    }

                    #register {
                        justify-content: flex-start;
                        height: calc(100% - 5vmax);
                        width: 100%;

                        p:first-child {
                            font-size: 2rem;
                            margin: 4% 0 3% 0;
                        }

                        p {
                            font-size: 1rem;
                            //margin: 0.5% 0 0 0;
                        }
                        
                        input {
                            height: 5vmax;
                            width: 40%;
                            margin: 0.5% 0;
                            font-size: 1.5rem;
                        }
                
                        > button[type="submit"] {
                            border-radius: 5px;
                            width: 20%;
                            height: 5vmax;
                            margin: 1% 0;
                        }
                
                        > p:last-child {
                            a{
                                font-size: 2.5rem;
                                padding: 0 0 0 0;
                                margin: 0;
                            }
                        }
                    }
                }

                > img {
                    margin: 0.5% 0 0 6%;
                }

                >p, input[type="search"] {
                    margin: 1% 0 0 6%;
                    font-size: 1.5rem;
                    padding: 0.5% 0;
                }

                div:nth-child(5) {

                    margin: 1% 0;
                    input[type="search"] {
                        width: 60vw;
                        height: 4vmax; 
                        font-size: 1rem;
                        margin: 0 0 0 6%;             
                    }

                    span button {
                        height: 4vmax;
                        font-size: 1rem;
                    }
                }
            }

            #social_icons {
                height: 12vmax;
                z-index: -1;
                bottom: unset;
                margin: 5% 0 0 0;

                > a:first-child {
                    img {
                        width: calc(10vmax * 1.6);
                        height: calc(3vmax * 1.6);
                    }
                }
        
                > a > img {
        
                    margin: 0 1vmax;
                    width: 5vmax;
                    height: 5vmax;
                }
            }
        }
    }
    .validation_error {
        font-size: 1.2rem !important;
    }
}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {


    body,html {
        font-size: 6px;
    }

    body{

        overflow: scroll;

        #first-main-div{
            height: 100vmax;
            position: relative;
            background-repeat: no-repeat;
            margin: 0 0 25% 0;

            header {
                //display: none;
                font-size: 14px;

                ul {
                    
                    margin: 2% 0;
                    padding: 0 0 0 6%;
                    
                    li a {
                        font-size: 1.2rem;
                    }
                }
            }

            #main-grid {
                display: block;
                width: 100%;
                height: 100vmax;
                margin: 0;
                padding: 0;
                z-index: 0;

                /*span {

                    position: relative;
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;
                    height: auto;
                    

                    #display_none {
                        display: inline-block;
                        width: 2vmax;
                        height: 5vmax;
                        margin: 2% 4% 0 0;
                        background-color: transparent;
                        border: none;
                        color: #ffffff;

                        >i {
                            font-size: 5rem;    
                        }
                    }
                }*/

                #authentication {
                    width: 100%;
                    height: 75vmax;
                    margin: 0;
                    position: relative;
                    z-index: 0;

                    button {
                        font-size: 2rem;
                    }

                    #login {
                        height: calc(100% - 4vh);
                        width: 100%;
                        justify-content: flex-start;
                        
                        img {
                            width: calc(7vmax / 0.7);
                            height: calc(10vmax / 0.7);
                            margin: 5% 0 2% 0;
                        }
                        
                        input {
                            //height: 5rem;
                            font-size: 2rem;
                            width: 50%;
                            margin: 1.5% 0;
                        }

                        p > a {
                            margin: 0;
                            font-size: 1.5rem;
                        }

                        p {
                            font-size: 2.5rem;
                        }
                
                        > button[type="submit"] {
                            border-radius: 5px;
                            width: 20%;
                            font-size: 2rem;
                            margin: 2%;
                        }
                
                        > p:last-child {
                            a{
                                font-size: 3rem;
                            }
                        }
                    }

                    #register {
                        justify-content: flex-start;
                        height: calc(100% - 4vh);
                        width: 100%;

                        p:first-child {
                            font-size: 2.5rem;
                            margin: 6% 0 5% 0;
                        }

                        p > a {
                            font-size: 0.8rem;
                            margin: 0;
                        }

                        p {
                            font-size: 1.5rem;
                            //margin: 1% 0 1% 0;
                        }
                        
                        input {
                            //height: 5vh;
                            width: 50%;
                            margin: 1.5% 0;
                            font-size: 2rem;
                        }
                
                        > button[type="submit"] {
                            border-radius: 5px;
                            width: 20%;
                            //height: 5vh;
                            font-size: 2rem;
                            margin: 2% 0 2% 0;
                        }
                
                        > p:last-child {
                            a{
                                font-size: 3rem;
                                padding: 0 0 0 0;
                            }
                        }
                    }
                }

                > img {
                    margin: 1% 0 0 6%;
                   
                }

                >p, input[type="search"] {
                    margin: 0.5% 0 0 6%;
                    padding: 1% 0;
                    font-size: 2rem;
                }

                div:nth-child(5) {

                    margin: 1% 0 3% 0;

                    input[type="search"] {
                        width: 60vw;
                        height: 4vh; 
                        font-size: 1.5rem;              
                    }

                    span button {
                        height: 4vh;
                        font-size: 1.5rem;
                    }
                }
            }

            #social_icons {
                height: 12vmax;
                z-index: -1;
                bottom: unset;
                margin: 0;

                > a:first-child {
                    img {
                        width: calc(10vmax * 1.6);
                        height: calc(3vmax * 1.6);
                    }
                }
        
                > a > img {
        
                    margin: 0 1vmax;
                    width: 5vmax;
                    height: 5vmax;
                }
            }
        }
    }

    .validation_error {
        font-size: 1.5rem !important;
    }
}